*{
    margin: 0;
    font-family: Arial;
    border: border-box;
} 
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}

/**box1**/

.nav-logo{
    height: 50px;
    width: 100px; 
}

.logo{
    background-image: url("amazon-logo.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    max-width: 100%;
}

/**box2**/

.add-first{
    font-size: 0.8em;
    color: #cccccc;
    /* margin-left: 16px; */
}
.add-sec{
    font-size: 1em;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/**box3**/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    width: 550px;
    height: 40px;
    border-radius: 4px;
} 
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
} 
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.Search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #fedb68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0f1111;
}

/**box4,5**/

span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/**box6**/

.cart{
    display: flex;
}
.cart-icon{
    font-size: 30px;
}
.cart-text{
    display: flex;
    align-items: end;
}

/**panel**/

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/** hero-section**/

.hero-section{
    background-image: url(IMAGE\ 1.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/** hero-msg **/

.hero-msg{
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 30px;
}
.hero-msg a{
    color:#007185;
}

/** shop-section**/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(252, 239, 217);
}
.box{
    height: 385px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box1-image{
    background-image: url(IMAGE2.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box2-image{
    background-image: url(IMAGE4.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box3-image{
    background-image: url(IMAGE5.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box4-image{
    background-image: url(image6.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box5-image{
    background-image: url(IMAGE7.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box6-image{
    background-image: url(IMAGE8.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box7-image{
    background-image: url(IMAGE9.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box8-image{
    background-image: url(image\ 10.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color:#007185
}

/** footer **/

.color{
    height: 30px;
    background-color: rgb(252, 239, 217);;
}
.footer-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.footer-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 30px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#dddddd
}
ul p{
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    background-image: url(amazon-logo.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100px;
}
.footer-panel4{
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    height: 80px;
    text-align: center;
}
.page {
    padding-top: 25px;
}
.copyright{
    padding-top: 3px;
}
.page a {
    padding-right: 10px;
}

.box{
    border-radius: 10px;
    transition: box-shadow 0.2s ease-in-out;
}
.box:hover{
    box-shadow: 0 0 20px rgba(181, 237, 49, 0.8);
}
